doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Applied Physics-1
    style 
      include ../../public/css/AP1.css
  body
    include ../partials/navbar.pug
    .main
      h1 Applied Physics-1
    .work
      button(type='button', onclick="toggleVisibility('syllabus')") Syllabus
      button(type='button', onclick="toggleVisibility('notes')") Notes
      button(type='button', onclick="toggleVisibility('pyqs')") PYQs
      button(type='button', onclick="toggleVisibility('youtube')") Youtube
      button(type='button', onclick="toggleVisibility('premium')") Premium Course
    div(style='width: 65%; margin-left: 240px; margin-top: 10px;')
      hr
    #syllabus.hidden
      // Content for Syllabus
      button#download(type='button')
        | Download Syllabus 
        i.fa-brands.fa-google-drive(style='color: rgb(0, 0, 0); font-size: 23px; height: 2px;')
    #notes.hidden(style='width:100%;')
      // Content for Notes
      // <img src="https://img.favpng.com/20/15/1/google-drive-google-sync-google-docs-backup-png-favpng-cKVLVjewaY5uJB2RPPU66p0rM_t.jpg">
      button#download(type='button')
        | Download Notes 
        i.fa-brands.fa-google-drive(style='color: rgb(0, 0, 0);')
    #pyqs.hidden
      // Content for PYQs
      button#download(type='button')
        | Download PYQs 
        i.fa-brands.fa-google-drive(style='color: rgb(0, 0, 0);')
    #youtube.hidden
      // Content for Youtube
      button#download(type='button')
        | Playlist Link 
        i.fa-brands.fa-youtube(style='color: rgb(0, 0, 0); font-size: 23px; height: 2px;')
    #premium.hidden
      // Content for Premium Course
      // <h1 style="margin-top: 40px; margin-left: 25vw;">Premium Course content goes here.</h1>
      .spotify_playlists
        .list
          .item
            a(href='')
              img(src='../images/Screenshot 2024-02-25 141559.png')
            h2
              a(href='')  Applied Physics-1
            p Anonymous
    // ------------------------------------------------------------- javascript -------------------------------------------------------
    script.
      function toggleVisibility(id) {
      // Hide all divisions with class 'hidden'
      var allDivs = document.querySelectorAll('.hidden');
      allDivs.forEach(function(div) {
      div.style.display = 'none';
      });
      // Show the selected division
      var selectedDiv = document.getElementById(id);
      selectedDiv.style.display = 'block';
      }
    script(src='https://kit.fontawesome.com/20db7e1e15.js', crossorigin='anonymous')