doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Subject Selection
    style   
      include ../../public/css/cse.css
  body
    include ../partials/navbar.pug
    .container
      .image-container
        img.image(src='./images/3rd.jpg', alt='Image', height='70', width='50')
      .text-container
        h1(style='font-size:80px;') STEP TOWARDS SUCCESS
        .dropdowns
          //
            <select id="branch-select">
            <option value="cse">CSE</option>
            <option value="ece">ECE</option>
            <option value="it">IT</option>
            </select>
          select#semester-select
            option(value='sem1') Semester 1
            option(value='sem2') Semester 2
            option(value='sem3') Semester 3
            option(value='sem4') Semester 4
            option(value='sem5') Semester 5
            option(value='sem6') Semester 6
            option(value='sem7') Semester 7
            option(value='sem8') Semester 8
        #subject-container.subject-container
    script.
      const semesterSelect = document.getElementById('semester-select');
      const subjectContainer = document.getElementById('subject-container');
      const subjects = {
        sem1: ['APPLIED MATHS-1', 'APPLIED PHYSICS-1', 'ENVIRONMENT STUDIES ', 'PROGRAMMING IN C', 'MANUFACTURING PROCESS', 'HUMAN VALUE ETHICS'],
        sem2: ['APPLIED MATHS-2 ', 'APPLIED PHYSICS -2', 'ELECTRICAL SCIENCE', 'INDIAN CONSTITUTION', ' BASIC MECHANICAL ENGINEERING', 'COMMUNICATION SKILLS'],
        sem3: ['DSA', 'OOPS', 'DIGITAL CIRCUITS', 'COMPUTATIONAL METHODS', 'DISCRETE MATHS', 'IKS'],
        sem4: ['DBMS ', 'JAVA', 'THEORY OF COMPUTATION ', 'TECHNICAL WRITING ', 'CIRCUIT AND SYSTEMS ', 'LINEAR PROBABILITY AND STATISTICS'],
        sem5: ['COMPUTER GRAPHICS AND MULTIMEDIA', 'COA', 'APPLIED MATHS-4', 'DIGITAL COMMUNICATION', 'SOFTWARE ENGINEERING', 'INDUSTRIAL MANAGEMENT'],
        sem6: ['COMPILER DESIGN', 'OPERATING SYSTEMS', 'ARTIFICIAL INTELLIGENCE', 'COMPUTER NETWORKS', 'WEB TECHNOLOGY', 'MICROPROCESSORS'],
        sem7: ['INFORMATION SECURITY', 'WIRELESS COMMUNICATION', 'NATURAL LANGUAGE PROCESSING', 'CANTROL SYSTEM', 'DATA MINING', 'COMPLEXITY THEORY'],
        sem8: ['MOBILE COMPUTING', 'MACHINE LEARNING', 'HVE-2', 'VLSI DESIGN', 'COMPUTER VISION ', 'SOFT COMPUTING'],
      };
      function populateSubjects() {
        const selectedSemester = semesterSelect.value;
        subjectContainer.innerHTML = '';
        subjects[selectedSemester].forEach(subject => {
          const card = document.createElement('div');
          card.addEventListener('click', () => {
            window.location.href = `/ap1`;
          });
          card.classList.add('card');
          card.textContent = subject;
          subjectContainer.appendChild(card);
        });
      }
      populateSubjects();
      semesterSelect.addEventListener('change', populateSubjects);