doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title The Team
    style 
        include ../../public/css/Our_Team.css
  body
    include ../partials/navbar.pug
    .bdy
        #main
            h1 Our Team
        .spotify_playlists
            .list
                .item
                    img(src='https://i.pinimg.com/originals/d3/45/46/d345468921a881540051564e18bec18f.jpg')
                    h2 Pratham Mittal
                    p Frontend Developer
                    .fa-brand
                        a(href='https://github.com/itz-Pratham')
                            i.fa-brands.fa-github
                        a(href='https://www.linkedin.com/in/pratham-mittal-4b59a725a/')
                            i.fa-brands.fa-linkedin
                .item
                    img(src='https://i.pinimg.com/originals/d3/45/46/d345468921a881540051564e18bec18f.jpg')
                    h2 Karan Kumar
                    p Leader
                    .fa-brand
                        a(href='https://github.com/itz-Pratham')
                            i.fa-brands.fa-github
                        a(href='https://www.linkedin.com/in/karan-kumar-68ba20272/')
                            i.fa-brands.fa-linkedin
                .item
                    img(src='https://i.pinimg.com/originals/d3/45/46/d345468921a881540051564e18bec18f.jpg')
                    h2 Chinmay Singh
                    p Backend Developer
                    .fa-brand
                        a(href='https://github.com/Chinmay67')
                            i.fa-brands.fa-github
                        a(href='https://www.linkedin.com/in/chinmay-singh-4092b0253/')
                            i.fa-brands.fa-linkedin
                .item
                    img(src='https://i.pinimg.com/originals/d3/45/46/d345468921a881540051564e18bec18f.jpg')
                    h2 Dhruv Gupta
                    p UI/UX Designer
                    .fa-brand
                        a(href='https://github.com/dhruvgupta686')
                            i.fa-brands.fa-github
                        a(href='https://www.linkedin.com/in/dhruv-gupta-72a8512a3/')
                            i.fa-brands.fa-linkedin
    script(src='https://kit.fontawesome.com/20db7e1e15.js', crossorigin='anonymous')