body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* margin: 0;
    padding: 0; */
}
.form{
    padding-top: 100px;
}
.container {
    width: 40%;
    margin: 13vh auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}
.form-group {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}
.form-group label {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}
.form-group input, .form-group select {
    width: calc(100% - 12px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
    margin-right: 10px;
}
.form-group button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.form-group button:hover {
    background-color: #45a049;
}
.bgcolor{
    
    width: 100%;
    position: fixed;
    height: 13vh;
    background-color: #4CAF50;
}
.bgcolor h1{
    color:#4CAF50
}